<% provide(:title, @taxon.name) %>
<%= render "shared/page_header", name: @taxon.name %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "left_side_bar", taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "filter_and_view" %>
        <%= render "main_category", products: @products %>
      </div>
    </div>
  </div>
</section>
