<% provide(:title, @product.name) %>
<%= render "shared/page_header", name: @product.name %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render "main_product", product: @product, taxon: @taxon %>
    <%= render "related_product", products: @products %>
  </div>
</section>
